/* Donde se pone el texto del botón, la font-family: inherit no funciona.El border-radius tendría que ir en */

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
  padding: 2.5rem 1.5rem;
}

.card-group{
  display: flex;
  flex-direction: column;
}

.buttons{
  width: 9.125rem;
  height: 3rem;
  border-radius: 1.5625rem;
  border: none;
  background-color: white;
}
